# Agente de Sincronización Local
RENDERBYTE_SYNC_SOURCE_ID=
RENDERBYTE_SYNC_API_URL=
RENDERBYTE_SYNC_API_KEY=
RENDERBYTE_ALEGON_CONNECTION_STRING=

# API Cloud (Railway / PostgreSQL)
ConnectionStrings__DefaultConnection=
PORT=
